<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mybatis/mapper/api.xml"/>
        <mapper resource="mybatis/mapper/attentionFund.xml"/>
        <mapper resource="mybatis/mapper/company.xml"/>
        <mapper resource="mybatis/mapper/fund.xml"/>
        <mapper resource="mybatis/mapper/fundAnalyze.xml"/>
        <mapper resource="mybatis/mapper/fundIndex.xml"/>
        <mapper resource="mybatis/mapper/fundNetWorth.xml"/>
        <mapper resource="mybatis/mapper/fundRank.xml"/>
        <mapper resource="mybatis/mapper/fundStock.xml"/>
        <mapper resource="mybatis/mapper/fundShareOut.xml"/>
        <mapper resource="mybatis/mapper/mail.xml"/>
        <mapper resource="mybatis/mapper/stockExtra.xml"/>
        <mapper resource="mybatis/mapper/strategyCrontab.xml"/>
        <mapper resource="mybatis/mapper/strategyCrontabAnalyze.xml"/>
        <mapper resource="mybatis/mapper/strategyCrontabSell.xml"/>
        <mapper resource="mybatis/mapper/strategyPurchase.xml"/>
    </mappers>
</configuration>
